



<h1>Thugs</h1>
<p>
      <b><%= link_to "Fukadavin", :query => "name=Fukadavin" %></b>
      <b><%= link_to "keilx", :query => "name=keilx" %> </b>
      <b><%= link_to "DrBrainsqueeze", :query => "name=DrBrainsqueeze" %></b>
      <b><%= link_to "lxkyewy", :query => "name=lxkyewy" %></b>
      <b><%= link_to "naijeeru", :query => "name=naijeeru" %></b>
      <b><%= link_to "Rkokym", :query => "name=Rkokym" %></b>
      <b><%= link_to "royalshortness", :query => "name=royalshortness" %></b>
      <b><%= link_to "vedonks", :query => "name=vedonks" %></b>
      <b><%= link_to "bigdaddykewl81", :query => "name=bigdaddykewl81" %></b>
      <b><%= link_to "tephra574", :query => "name=tephra574" %></b>
      <b><%= link_to "Jaxomoy", :query => "name=Jaxomoy" %></b>
</p>
<br>
<div >
 <TABLE WIDTH="500">
  
  <TD valign="top">
    <TABLE>
       <td class="preBlock"><pre><%= @getProfile %></pre></td>
       <td class="preBlock"><pre><%= @getGroupID %></pre></td>
   </td>
     </TABLE>
  
    <TD WIDTH="250">

    <TABLE >

  
   
       <td class="preBlock">
           <%= @arrayOfCharId[0]  %>
           <pre><%= @arrayOfCharacters[0] %></pre></td>
       <td class="preBlock">
             <%= @arrayOfCharId[1]  %>
           <pre><%= @arrayOfCharacters[1]  %></pre></td>
       <td class="preBlock">
             <%= @arrayOfCharId[2]  %>
           <pre><%= @arrayOfCharacters[2]  %></pre></td>
     
    </TD>
    </TR>
    </TABLE>
    </TD>
    </TR>
  </TABLE>
  
  
</div>